body {
  background-color: #8774B4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  /* display: block; */
  margin: 4px;
  font-size: 18px;
  padding: 8px 8px 9px 8px;
  color: white;
  border: 3px solid #FBCD9C;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  /* letter-spacing: 2px; */
  outline-style: none;
}

.btn:hover {
  background-color: #F795C8;
}

.chat {
  display: inline-block;
}